<h2>My Carparts</h2>
<div>
  <label>Carparts name:</label> <input #carpartName />
  <button (click)="add(carpartName.value); carpartName.value=''">
    Add
  </button>
</div>
<ul class="carparts">
  <li *ngFor="let carpart of carparts"
    [class.selected]="carpart === selectedCarpart"
    (click)="onSelect(carpart)">
    <span class="badge">{{carpart.id}}</span>  
    <span>{{carpart.name}}</span>
    <button class="delete"
      (click)="delete(carpart); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCarpart">
  <h2>
    {{selectedCarpart.name | uppercase}} is my carpart
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>